/bitcoin-strings-with-txids-blacklist
/cache.pkl
/data/bin
/data/cryptograffiti-blockchair
/data/atomsea-from-bitfossil.tmp
/data/largest
/txindex.sqlite3
/utxodump.csv
/utxodump.sqlite3
__pycache__
log.log
tmp
tmp.*
*.tmp
