#git+https://github.com/alecalve/python-bitcoin-blockchain-parser.git@c06f420995b345c9a193c8be6e0916eb70335863
git+https://github.com/cirosantilli/python-bitcoin-blockchain-parser.git@bitcoin-inscription-indexer
requests==2.31.0
plyvel==1.5.1
nudenet==3.0.8
